<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | RaceKatteKlubben</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div id="login-screen">
        <h1>Login</h1>

        <form th:object="${member}" method="post" th:action="@{/login}">
            <div class="input-field">
                <label for="email">Email:</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Enter email...">
            </div>

            <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Enter password...">
            </div>

            <div class="button-field">
                <a href="/register"><button type="button" id="signup">Sign Up</button></a>
                <button type="submit" id="login">Login</button>
            </div>

            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
        </form>
    </div>
</body>
</html>