<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil | RaceKatteKlubben</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
    <nav id="navbar">
        <div class="nav-header">
            <h1>Hello <span th:text="${member.memberName}"></span></h1>
        </div>
        <div >
            <a class="nav-links" href="/home">Go home</a>
            <a class="nav-links" href="/logout">Log ud</a>
            <a class="nav-links" href="/profile/update">update Profile</a>
        </div>
    </nav>

    <form th:action="@{/members/delete/{id}(id =${member.id})}" method="post"
          onsubmit="return confirm('Er du sikker på at du vil slette din konto?')">
        <button type="submit">Slet konto</button>
    </form>

    <form th:action="@{/profile/{memberId}/cats(memberId=${member.id})}" method="get">
        <button type="submit">Gå til mine katte</button>
    </form>
</body>
</html>