<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home | RaceKatteKlubben</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav id="navbar">
        <div class="nav-header">
            <h1 id="company-name">RaceKatteKlubben</h1>
        </div>
        <div class="nav-links">
            <a class="nav-link" href="/home">Hjem</a>
            <a class="nav-link" href="/profile">Min Profil</a>
        </div>

        <a id="log-out-button" th:href="@{/logout}">Log ud</a>
    </nav>

    <h1>Velkommen, <span th:text="${member.memberName}"></span>!</h1>
</body>
</html>