<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret | RaceKatteKlubben</title>
    <link rel='stylesheet' th:href="@{/css/styles.css}">
</head>
<body>
    <nav id="navbar">
        <div class="nav-header">
            <h1 id="company-name">RaceKatteKlubben</h1>
        </div>
        <div class="nav-links">
            <a class="nav-link" href="/home">Hjem</a>
            <a class="nav-link" href="/profile">Min Profil</a>
        </div>

        <a id="log-out-button" th:href="@{/logout}">Log ud</a>
    </nav>

    <h1>Opret ny Kat</h1>

    <form class="cat-form"  th:action="@{/profile/{memberId}/cats/create(memberId=${member.id})}" th:object="${cat}" method="post">
        <div class="input-field">
            <Label for="image">Image:</Label>
            <input type="text" id="image" name="images" th:value="*{images}" placeholder="f.eks. IMG_1428.png">
        </div>

        <div class="input-field">
            <Label for="catName">Navn:</Label>
            <input type="text" id="catName" name="catName" th:value="*{catName}" placeholder="Indtast navn...">
        </div>

        <div class="option-dropdown">
            <label for="race">Race:</label>
            <select th:field="*{race} "id="race" placeholder="Vælg Race ...">
                <option value=""disabled selected>vælg race...</option>
                <option th:each="race : ${races}"
                        th:value="${race}"
                        th:text="${race}"
                >
                </option>
            </select>

        </div>

        <div class="input-field">
            <Label for="age">Alder:</Label>
            <input type="number" id="age" name="age" th:value="*{age}" placeholder="Indtast alder...">
        </div>

        <div class="option-dropdown">
            <label for="yearOrMonth">År eller måned:</label>
            <select  th:field="*{yearOrMonth}" id="yearOrMonth" placeholder="Vælg år eller måned ...">
                <option value=""disabled selected>vælg år eller måned...</option>
                <option th:each="yearOrMonth : ${yearOrMonths}"
                        th:value="${yearOrMonth}"
                        th:text="${yearOrMonth}">
                </option>
            </select>

            <div class="option-dropdown">
                <label for="gender">Køn:</label>
                <select  th:field="*{gender}" id="gender" placeholder="Vælg køn...">
                    <option value=""disabled selected> vælg køn...</option>
                    <option th:each="gender : ${genders}"
                            th:value="${gender}"
                            th:text="${gender}">
                    </option>
                </select>

            </div>

        <input type="hidden" name="memberId" th:value="${memberId}">

        <div class="button-field">
            <button type="submit" id="create-cat">Opret</button>
            <a th:href="@{/profile/{memberId}/cats(memberId=${member.id})}">
                <button type="button" id="cancel">Cancel</button>
            </a>
        </div>
    </form>
</body>
</html>