<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update | RaceKatteKlubben</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav id="navbar">
        <div class="nav-header">
            <h1 id="company-name">RaceKatteKlubben</h1>
        </div>
        <div class="nav-links">
            <a class="nav-link" href="/home">Hjem</a>
            <a class="nav-link" href="/profile">Min Profil</a>
        </div>

        <a id="log-out-button" th:href="@{/logout}">Log ud</a>
    </nav>

    <h1>Opdater kat</h1>

    <form id="update-Cat-Form" th:object="${cat}" method="post" th:action="@{/profile/{memberId}/cats/update/{id}(memberId=${memberId}, id=${cat.id})}">
        <input type="hidden" name="id" th:value="*{id}">
        <div class="input-field">
            <label for="name">Images:</label>
            <input type="text" th:field="*{images}" id="images" placeholder="Intast bilde...">
        </div>

        <div class="input-field">
            <label for="name">Navn:</label>
            <input type="text" th:field="*{catName}" id="name" placeholder="Intast navn...">
        </div>

        <div class="option-dropdown">
            <label for="name">Race:</label>
            <select th:field="*{race} "id="race" placeholder="Vælg Race ...">
                <option value=""disabled selected>vælg race...</option>
                <option th:each="race : ${races}"
                        th:value="${race}"
                        th:text="${race}"
                >
                </option>
                </select>

        </div>

        <div class="input-field">
            <label for="name">Alder:</label>

            <input type="text" th:field="*{age}" id="age" placeholder="Intast alder...">
        </div>
        <div class="option-dropdown">
            <label for="name">År eller måned:</label>
            <select  th:field="*{yearOrMonth}" id="yearOrMonth" placeholder="Vælg år eller måned ...">
                <option value=""disabled selected>vælg år eller måned...</option>
                <option th:each="yearOrMonth : ${yearOrMonths}"
                th:value="${yearOrMonth}"
                th:text="${yearOrMonth}">
                </option>
                </select>
        </div>
        <div class="option-dropdown">
            <label for="name">Køn:</label>
            <select  th:field="*{gender}" id="gender" placeholder="Vælg køn...">
                <option value=""disabled selected> vælg køn...</option>
                <option th:each="gender : ${genders}"
                th:value="${gender}"
                th:text="${gender}">
                </option>
            </select>

        </div>

        <input type="hidden" name="memberId" th:value="${memberId}">


        <div class="button-field">
            <button type="submit" id="update-cat">Opdater</button>
            <a th:href="@{/profile/{memberId}/cats(memberId=${member.id})}">
                <button type="button" id="cancel">Cancel</button>

            </a>
        </div>
    </form>
</body>
</html>